<header class="members-header container">
  {{#if username}}
  <strong>{{username}}</strong>
  <img src="{{avatar_url}}" alt="{{username}}'s profile picture">
  {{/if}} 
  <h1>{{title}}</h1>
  <p>{{description}}</p>
</header>
